<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="/user/login" method="post">
      <label for="">
        <input type="text" placeholder="请输入账号"/>
      </label>
      <label for="">
        <input type="password" placeholder="请输入密码"/>
      </label>
      <input type="submit" value="提交"/>
    </form>
    <!-- include footer-->
    <%- include footer %>
  </body>
</html>
